""" Editing and Reloading the Config
set clipboard+=unnamed
set clipboard+=ideaput
nnoremap \e :e C:\\Users\\ishipitc\\.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

nnoremap <c-c> <Esc>
""" The Leader Key
let mapleader=" "
""" Distraction Free Mode
nnoremap <c-z> :action ToggleDistractionFreeMode<CR>
""" Terminal
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>
""" plugins :)
set NERDTree
nnoremap <c-1> :NERDTreeToggle<CR>
Plug 'easymotion/vim-easymotion'
map <leader>eF <Plug>(easymotion-s)
map <leader>ef <Plug>(easymotion-f)

""" Window Navigation
nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>
nnoremap <c-=> :action Unsplit<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <s-TAB> :action PreviousTab<CR>
nnoremap <TAB> :action NextTab<CR>
nnoremap <Leader>q :action CloseEditor<CR>
nnoremap <Leader>qa :action CloseAllEditors<CR>
""" Editing source code
set ideajoin
set idearefactormode=keep
vnoremap < <gv
vnoremap > >gv
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>
nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>
nnoremap <leader>c :action CommentByLineComment<CR>
nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>
nnoremap <Leader>=  :action ReformatCode<CR>
nnoremap <c-r> :action RecentFiles<CR>
nnoremap <leader>l :action RecentLocations<CR>
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>
""" code generation
nnoremap <leader>g :action Generate<CR>
nnoremap <leader>ggs :action GenerateGetterAndSetter<CR>
nnoremap <leader>geh :action GenerateEquals<CR>
""" Searching and Source Code Navigation
set incsearch
set relativenumber
set number
nnoremap <c-d> <c-d>zz
nnoremap <c-u> <c-u>zz
nnoremap <leader>f :action Find<CR>
nnoremap <c-/> :action FindInPath<CR>
nnoremap <c-a> :action GotoAction<CR>
nnoremap <c-f> :action GotoFile<CR>
nnoremap <leader>u :action FindUsages<CR>
nnoremap <leader>s :action GotoRelated<CR>
nnoremap <leader>h :action CallHierarchy<CR>
nnoremap <leader>b :action ShowNavBar<CR>
nnoremap <c-s> :action FileStructurePopup<CR>
nnoremap <c-o> :action GotoSymbol<CR>
nnoremap gc :action GotoClass<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gp :action GotoSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>
""" Tool windows
nnoremap <c-p> :action JumpToLastWindow<CR>
nnoremap <c-x> :action HideAllWindows<CR>
""" Running and Debugging
nnoremap ,r :action ContextRun<CR>
nnoremap ,c :action RunClass<CR>
nnoremap ,f :action ChooseRunConfiguration<CR>
nnoremap ,t :action ActivateRunToolWindow<CR>
nnoremap ,u :action Rerun<CR>
nnoremap ,f :action RerunFailedTests<CR>
nnoremap ,b :action ToggleLineBreakpoint<CR>
nnoremap ,d :action ContextDebug<CR>
nnoremap ,n :action ActivateDebugToolWindow<CR>
""" view settings
nnoremap <leader>fi :action EditorIncreaseFontSize<CR>
nnoremap <leader>fd :action EditorDecreaseFontSize<CR>
nnoremap <leader>fr :action EditorResetFontSize<CR>
map <leader>fp <Action>(EditorIncreaseFontSize)<Action>(EditorIncreaseFontSize)<Action>(EditorIncreaseFontSize)<Action>(EditorIncreaseFontSize)<Action>(EditorIncreaseFontSize)<Action>(EditorIncreaseFontSize)zz
"""Git
nnoremap <leader>cvr :action ChangesView.Revert<CR>
""" files creation
nnoremap <leader>nf :action NewFile<CR>
nnoremap <leader>nd :action NewDir<CR>
nnoremap <leader>nj :action NewClass<CR>
